.inputElement:-webkit-autofill,
.inputElement:-webkit-autofill:hover,
.inputElement:-webkit-autofill:focus,
.inputElement:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: white;
    outline: none;
    color: white;
}

.inputElement {
    color: white;
}
.inputElement:focus {
    outline: none;
}