/* 초기 랜더링 시 로그인 폼을 부드럽게 출력/charging.tsx */
.appear {
    animation-duration: 0.2s;
    animation-name: appearance;
}
@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/* 초기 랜더링 시 입력 영역에 일시적으로 테두리 표시(안내)/charging.tsx */
.guidance {
    animation-duration: 2s;
    animation-name: guide;
}
@keyframes guide {
    from {
        background-color: transparent;
    }
    25% {
        background-color: rgb(99 102 241);
    }
    80% {
        background-color: rgb(99 102 241);
    }
    to {
        background-color: transparent;
    }
}

/* 로그인 폼 검증 과정에서 에러 메세지 발생할 시 부드럽게 출력/inputElement.tsx */
.displayErrMsg {
    animation-duration: 0.4s;
    animation-name: displayErrMsg;
    opacity: 100%;
}
@keyframes displayErrMsg {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/* 로그인 폼 검증 과정에서 에러 메세지 발생할 시 텍스트 좌우 진동/loginForm.tsx */
.reactionByInvalidForm {
    animation-duration: 0.5s;
    animation-name: reactionByInvalidForm;
}

@keyframes reactionByInvalidForm {
    from {
        padding-left: 40px;
    }
    23% {
        padding-left: 75px;
    }
    44% {
        padding-left: 15px;
    }
    62% {
        padding-left: 60px;
    }
    77% {
        padding-left: 25px;
    }
    88% {
        padding-left: 50px;
    }
    93% {
        padding-left: 34px;
    }
    96% {
        padding-left: 45px;
    }
    98% {
        padding-left: 37px;
    }
    99% {
        padding-left: 41px;
    }
    to {
        padding-left: 40px;
    }
}

/* 로그인 실패할 시 기존 텍스트 제거/loginForm.tsx */
.previousActionByLoginFailure {
    animation-duration: 0.3s;
    animation-name: previousActionByLoginFailure;
    opacity: 0;
}
@keyframes previousActionByLoginFailure {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}

/* 로그인 실패할 시 특정 텍스트 부드럽게 출력/loginForm.tsx */
.reactionByLoginFailure {
    animation-duration: 0.4s;
    animation-name: reactionByLoginFailure;
    opacity: 100%;
}
@keyframes reactionByLoginFailure {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}